<div class="overlay">
	<div class="keyboard">
		<button
			[class.listening]="actionIsListening(Action.Forward)"
			(click)="listenMode($event, Action.Forward)"
			class="key"
			id="w"
		>
			<span class="material-symbols-outlined"> keyboard_arrow_up </span>
		</button>
		<button
			[class.listening]="actionIsListening(Action.Left)"
			(click)="listenMode($event, Action.Left)"
			class="key"
			id="a"
		>
			<span class="material-symbols-outlined"> keyboard_arrow_left </span>
		</button>
		<button
			[class.listening]="actionIsListening(Action.Backward)"
			(click)="listenMode($event, Action.Backward)"
			class="key"
			id="s"
		>
			<span class="material-symbols-outlined"> keyboard_arrow_down </span>
		</button>
		<button
			[class.listening]="actionIsListening(Action.Right)"
			(click)="listenMode($event, Action.Right)"
			class="key"
			id="d"
		>
			<span class="material-symbols-outlined"> keyboard_arrow_right </span>
		</button>
		<button
			[class.listening]="actionIsListening(Action.Jump)"
			(click)="listenMode($event, Action.Jump)"
			class="key"
			id="space"
		>
			Jump
		</button>
	</div>
	<div class="mouse">
		<div class="wheel">
			<button (click)="requestScrollRebind(ScrollDir.Up)" [class.selected]="rebindingScrollDirection(ScrollDir.Up)">
				<span class="material-symbols-outlined"> arrow_drop_up </span>
			</button>
			<button (click)="requestScrollRebind(ScrollDir.Down)" [class.selected]="rebindingScrollDirection(ScrollDir.Down)">
				<span class="material-symbols-outlined"> arrow_drop_down </span>
			</button>
		</div>
	</div>

	<div [class.visible]="inputService.rebindingScroll" class="action-selector">
		<h3>Select an Action</h3>
		<hr />
		<div class="action-list">
			<button (click)="inputService.rebindScroll(Action.Forward)">Forward</button>
			<button (click)="inputService.rebindScroll(Action.Backward)">Backward</button>
			<button (click)="inputService.rebindScroll(Action.Left)">Left</button>
			<button (click)="inputService.rebindScroll(Action.Right)">Right</button>
			<button (click)="inputService.rebindScroll(Action.Jump)">Jump</button>
		</div>
	</div>
</div>
