<div class="popup-page" [class.visible]="visible()">
	<div class="content-container">
		<button class="close-popup" (click)="closePopup()">
			<span class="material-symbols-outlined"> close </span>
		</button>
		<h1>{{ pageNames[page()] }}</h1>
		<hr />
		<app-instructions [class.visible]="pageVisible('instructions')" class="content"></app-instructions>
		<app-keybinds [class.visible]="pageVisible('keybinds')" class="content"></app-keybinds>
		<app-settings [class.visible]="pageVisible('settings')" class="content"></app-settings>
	</div>
</div>
