@use 'colors';

.popup-page {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.6);
	color: #eee;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;

	&.visible {
		opacity: 1;
		pointer-events: auto;
	}

	.content-container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		box-sizing: border-box;
		position: relative;
		height: 95%;
		width: 800px;
		border-radius: 20px;
		background-color: rgba(0, 0, 0, 0.15);
		padding: 40px;

		.instructions {
			display: none;

			&.visible {
				display: block;
			}
		}
		
		ul {
			margin: 0;
			li {
				margin: 15px 0;
				> ul {
					margin: 10px 0;
					> li {
						margin: 5px 0;
					}
				}
			}
		}

		p {
			margin: 0;
			font-size: 1.3rem;
		}

		h1 {
			margin: 0;
		}

		.green {
			color: colors.$primary-green;
		}
		.blue {
			color: colors.$primary-blue;
		}
		.red {
			color: colors.$primary-red;
		}

		.close-popup {
			position: absolute;
			top: 0;
			transform: translateX(-180%);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 55px;
			height: 55px;
			border-radius: 10px;
			font-size: 20px;
			background-color: rgba(0, 0, 0, 0.15);
			border: none;
			cursor: pointer;
			transition: background-color 0.2s ease;

			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}

			.material-symbols-outlined {
				font-size: 40px;
				color: #eee;
				font-variation-settings: 'wght' 300;
			}
		}
	}
}
