<div class="popup-page" [class.visible]="visible()">
	<div class="content-container">
		<button class="close-popup" (click)="closePopup()">
			<span class="material-symbols-outlined"> close </span>
		</button>
		<h1>{{ pageIds[page()] }}</h1>
		<hr />
		<div [class.visible]="page() === 'instructions'" class="instructions">
			<ul>
				<li>
					<p>
						Select a strafe from the dropdown on the sidebar then press
						'<strong>Start</strong>' to begin training.
					</p>
				</li>
				<li>
					<p>
						While training mode is active; The keys on the keyboard overlay will be
						tinted 1 of <strong>3 colors</strong> indicating what do to next.
					</p>
					<ul>
						<li>
							<p><strong class="green">Green</strong> - should be pressed next.</p>
						</li>
						<li>
							<p><strong class="red">Red</strong> - should be released next.</p>
						</li>
						<li>
							<p>
								<strong class="blue">Blue</strong> - should already be held from the
								previous step.
							</p>
						</li>
					</ul>
				</li>
				<li>
					<p>
						Once you are holding the correct keys it will advance to the next step of
						the lurch.
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
