<div class="settings-container">
	<div class="setting">
		<label class="setting-label">Jump Method</label>
		<div class="radio-group">
			<label class="radio-option">
				<input
					type="radio"
					name="jumpMethod"
					[value]="Input.Key"
					[(ngModel)]="trainerManager.settings.jumpMethod"
				/>
				<span>Keyboard</span>
			</label>

			<label class="radio-option">
				<input
					type="radio"
					name="jumpMethod"
					[value]="Input.Scroll"
					[(ngModel)]="trainerManager.settings.jumpMethod"
				/>
				<span>Scroll</span>
			</label>
		</div>
	</div>
	<!--  -->
	<div class="setting">
		<label class="checkbox-container setting-label">
			Jump Steps
			<input
				class="checkbox"
				type="checkbox"
				[(ngModel)]="trainerManager.settings.useJumps"
			/>
			<span class="material-symbols-outlined"
				>{{ trainerManager.settings.useJumps ? 'toggle_on' : 'toggle_off' }}
			</span>
		</label>
		<p class="description">Include jump steps in training</p>
	</div>
	<!--  -->
	<div class="setting">
		<label class="checkbox-container setting-label">
			Scroll Steps
			<input
				class="checkbox"
				type="checkbox"
				[(ngModel)]="trainerManager.settings.useScroll"
			/>
			<span class="material-symbols-outlined"
				>{{ trainerManager.settings.useScroll ? 'toggle_on' : 'toggle_off' }}
			</span>
		</label>
		<p class="description">
			Include scroll steps in training; Jump inputs are excluded from this rule
		</p>
	</div>
	<div class="setting">
		<label class="checkbox-container setting-label">
			Scroll for key steps
			<input
				class="checkbox"
				type="checkbox"
				[(ngModel)]="trainerManager.settings.scrollBypassKey"
			/>
			<span class="material-symbols-outlined"
				>{{ trainerManager.settings.scrollBypassKey ? 'toggle_on' : 'toggle_off' }}
			</span>
		</label>
		<p class="description">
			Scroll inputs can be used as keyboard inputs
		</p>
	</div>
</div>
<div class="save-container">
	<button class="save-button" (click)="saveSettings()">Save Changes</button>
	<span id="save-status">Changes Saved!</span>
</div>
