@use 'colors';

$arrow-height: 30px;
$arrow-radius: calc($arrow-height * 1.1);

.arrows-container {
	position: relative;

	.arrow-wrapper {
		position: absolute;

		.arrow {
			position: absolute;
			top: -$arrow-height;
			left: -$arrow-radius;
			transform-origin: center;
			width: 20;
			height: 20;

			border-left: $arrow-radius solid transparent;
			border-right: $arrow-radius solid transparent;
			border-bottom: $arrow-height solid white;

			opacity: 0.1;

			filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));

			&.animate {
				animation: slideFade 0.5s ease-out;
			}
		}
	}
}

@keyframes slideFade {
	0% {
		opacity: 0.7;
		transform: translateY(0) scale(1);
	}
	100% {
		opacity: 0;
		transform: translateY(-$arrow-height * 2.5) scale(0.2);
	}
}
