@use 'colors';

$arrow-height: 30px;
$arrow-radius: calc($arrow-height * 1.1);

:host {
	&.hidden {
		display: none;
	}
}

.arrows-container {
	position: relative;

	.arrow-wrapper {
		position: absolute;

		.arrow {
			position: absolute;
			top: -$arrow-height;
			left: -$arrow-radius;
			transform-origin: center;
			width: 20;
			height: 20;

			border-left: $arrow-radius solid transparent;
			border-right: $arrow-radius solid transparent;
			border-bottom: $arrow-height solid white;

			opacity: 0.1;

			&.animate {
				animation: slideFade 0.5s ease-out;
			}

			&.green {
				filter: drop-shadow(0 0px 5px colors.$primary-green);
				opacity: 0.6;
			}
			&.blue {
				filter: drop-shadow(0 0px 5px colors.$primary-blue);
				opacity: 0.6;
			}
			&.red.animate {
				filter: drop-shadow(0 0px 5px colors.$primary-red);
				&.expected {
					filter: drop-shadow(0 0px 5px colors.$primary-green);
				}
			}
		}
	}
}

@keyframes slideFade {
	0% {
		opacity: 0.8;
		transform: translateY(0) scale(1);
	}
	100% {
		opacity: 0;
		transform: translateY(-$arrow-height * 2.5) scale(0.2);
	}
}
