.main-container {
	box-sizing: border-box;
	height: 100%;
	background-image: url('/assets/toad_dance.png');
	background-size: cover;
	background-position: center;
}

main {
	height: 100%;
	background-color: rgba(255, 255, 255, .1);
	backdrop-filter: blur(15px);
}
