<ul>
	<li>
		<p>
			Select a strafe from the dropdown on the sidebar then press
			<span class="start-button">Start</span> to begin training.
		</p>
	</li>
	<li>
		<p>
			While training mode is active; The keys on the keyboard overlay will be
			tinted <strong>1 of 3 colors</strong> indicating what do to next.
		</p>
		<ul>
			<li>
				<p><strong class="green">Green</strong> - should be pressed next.</p>
			</li>
			<li>
				<p><strong class="red">Red</strong> - should be released next.</p>
			</li>
			<li>
				<p>
					<strong class="blue">Blue</strong> - should already be held from the
					previous step.
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			Once you are holding the correct keys it will advance to the next step of
			the lurch. Jump inputs are not required.
		</p>
	</li>
	<li>
		<p>
			If you use a keyboard layout other than qwerty or just want to change your binds go to 'Keybinds' in the sidebar.
		</p>
	</li>
</ul>