<div class="overlay" id="overlay">
	<div class="keyboard">
		<div
			[class.pressed]="isActivated({ action: Action.Forward, useScroll: false })"
			[class.press]="shouldActivate({ action: Action.Forward, useScroll: false })"
			[class.release]="shouldUnactivate({ action: Action.Forward, useScroll: false })"
			[class.hold]="shouldRemainActivated({ action: Action.Forward, useScroll: false })"
			class="key"
			id="w"
		>
			{{ inputService.keyBinds.forward | uppercase }}
		</div>
		<div
			[class.pressed]="isActivated({ action: Action.Left, useScroll: false })"
			[class.press]="shouldActivate({ action: Action.Left, useScroll: false })"
			[class.release]="shouldUnactivate({ action: Action.Left, useScroll: false })"
			[class.hold]="shouldRemainActivated({ action: Action.Left, useScroll: false })"
			class="key"
			id="a"
		>
			{{ inputService.keyBinds.left | uppercase }}
		</div>
		<div
			[class.pressed]="isActivated({ action: Action.Backward, useScroll: false })"
			[class.press]="shouldActivate({ action: Action.Backward, useScroll: false })"
			[class.release]="shouldUnactivate({ action: Action.Backward, useScroll: false })"
			[class.hold]="shouldRemainActivated({ action: Action.Backward, useScroll: false })"
			class="key"
			id="s"
		>
			{{ inputService.keyBinds.backward | uppercase }}
		</div>
		<div
			[class.pressed]="isActivated({ action: Action.Right, useScroll: false })"
			[class.press]="shouldActivate({ action: Action.Right, useScroll: false })"
			[class.release]="shouldUnactivate({ action: Action.Right, useScroll: false })"
			[class.hold]="shouldRemainActivated({ action: Action.Right, useScroll: false })"
			class="key"
			id="d"
		>
			{{ inputService.keyBinds.right | uppercase }}
		</div>
		<div
			[class.pressed]="isActivated({ action: Action.Jump, useScroll: false })"
			[class.press]="shouldActivate({ action: Action.Jump, useScroll: false })"
			[class.release]="shouldUnactivate({ action: Action.Jump, useScroll: false })"
			[class.hold]="shouldRemainActivated({ action: Action.Jump, useScroll: false })"
			class="key"
			id="space"
		>
			{{
				(inputService.keyBinds.jump === ' ' ? 'space' : inputService.keyBinds.jump)
					| uppercase
			}}
		</div>
	</div>
	<div class="mouse">
		<div class="wheel">
			<div
				[class.pressed]="
					isScrolling(ScrollDir.Up)
				"
				[class.press]="
					shouldActivate({ action: inputService.scrollBinds.up, useScroll: true })
				"
				[class.release]="
					shouldUnactivate({ action: inputService.scrollBinds.up, useScroll: true })
				"
				[class.hold]="
					shouldRemainActivated({ action: inputService.scrollBinds.up, useScroll: true })
				"
				class="wheel-up"
			>
				<span class="material-symbols-outlined"> arrow_drop_up </span>
				<span class="scroll-count">{{ inputService.scrollUpCount }}</span>
			</div>
			<div
				[class.pressed]="isScrolling(ScrollDir.Down)"
				[class.press]="
					shouldActivate({ action: inputService.scrollBinds.down, useScroll: true })
				"
				[class.release]="
					shouldUnactivate({ action: inputService.scrollBinds.down, useScroll: true })
				"
				[class.hold]="
					shouldRemainActivated({
						action: inputService.scrollBinds.down,
						useScroll: true
					})
				"
				class="wheel-down"
			>
				<span class="material-symbols-outlined"> arrow_drop_down </span>
				<span class="scroll-count">{{ inputService.scrollDownCount }}</span>
			</div>
		</div>
	</div>
</div>
