<div class="page-container">
	<div class="sidebar">
		<div class="popup-buttons">
			<button (click)="showPopup('instructions')">
				<span class="material-symbols-outlined"> book_5 </span>
				<span>Instructions</span>
			</button>
			<button (click)="showPopup('keybinds')">
				<span class="material-symbols-outlined"> keyboard_alt </span>
				<span>Keybinds</span>
			</button>
			<button (click)="showPopup('settings')">
				<span class="material-symbols-outlined"> settings </span>
				<span>Settings</span>
			</button>
		</div>
		<hr />
		<div class="strafe-controls">
			<label for="strafeSelector">Choose a strafe</label>
			<select name="strafeSelector" id="strafeSelector">
				@for (strafe of strafes; track $index) {
				<option [value]="strafe.name">{{ strafe.name }}</option>
				}
			</select>
			<button
				[class]="trainerManagerService.training ? 'stop' : 'start'"
				class="toggle-training"
				(click)="toggleTraining($event)"
			>
				{{ trainerManagerService.training ? 'Stop' : 'Start' }}
			</button>
		</div>
	</div>
	<div class="overlay-container">
		<app-overlay />
		@if (trainerManagerService.settings.lurchDirArrows) {
			<app-lurch-direction />
		}
	</div>
	<app-popup [visible]="popupVisible" (close)="hidePopup()" [page]="popupPage"></app-popup>
</div>
