.page-container {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 15px;

	.instructions-container {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		color: #eee;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;

		&.visible {
			opacity: 1;
			pointer-events: auto;
		}

		.instructions {
			display: flex;
			flex-direction: column;
			gap: 20px;
			box-sizing: border-box;
			position: relative;
			height: 95%;
			width: 800px;
			border-radius: 20px;
			background-color: rgba(0, 0, 0, 0.1);
			padding: 40px;

			h1 {
				margin: 0;
			}

			.close-instructions {
				position: absolute;
				top: 0;
				transform: translateX(-180%);
				display: flex;
				justify-content: center;
				align-items: center;
				width: 55px;
				height: 55px;
				border-radius: 10px;
				font-size: 20px;
				background-color: rgba(0, 0, 0, 0.2);
				border: none;
				cursor: pointer;
				transition: background-color 0.2s ease;

				&:hover {
					background-color: rgba(255, 255, 255, 0.1);
				}

				.material-symbols-outlined {
					font-size: 40px;
					color: #fff;
					font-variation-settings: 'wght' 300;
				}
			}
		}
	}

	//

	.sidebar {
		box-sizing: border-box;
		width: 250px;
		min-width: fit-content;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		background-color: rgba(0, 0, 0, 0.1);
		padding: 10px;

		button {
			cursor: pointer;
			border: none;
			outline: none;
			border-radius: 5px;
			display: flex;
			gap: 10px;
			justify-content: center;
			align-items: center;
			background-color: rgba(0, 0, 0, 0.2);
			color: white;
			padding: 5px 10px;

			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}
		}

		.toggle-training {
			border: none;
			border-radius: 5px;
			padding: 5px 10px;
			cursor: pointer;
			color: #222;

			&.start {
				background-color: #00ff6a;
			}
			&.stop {
				background-color: #ff3c00;
			}
		}

		.strafe-controls {
			display: flex;
			flex-direction: column;
			gap: 5px;

			label {
				text-align: center;
				background-color: #222;
				color: #ddd;
				border-radius: 5px;
				padding: 5px;
			}
			select {
				text-align: center;
				outline: none;
				border: none;
				border-radius: 5px;
				padding: 5px;
			}
		}
	}
}

app-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

hr {
	width: 100%;
	height: 0.5px;
	border: none;
	border-radius: 1000px;
	background-color: #eee;
	margin: 0;
}
