@use 'colors';

.page-container {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 15px;

	//

	.sidebar {
		box-sizing: border-box;
		width: 300px;
		min-width: fit-content;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
		background-color: rgba(0, 0, 0, 0.1);
		padding: 10px;

		* {
			font-size: 16px;
		}

		.material-symbols-outlined {
			font-size: 24px;
		}

		.popup-buttons {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		button {
			cursor: pointer;
			border: none;
			border-radius: 5px;
			display: flex;
			gap: 10px;
			justify-content: center;
			align-items: center;
			background-color: rgba(0, 0, 0, 0.2);
			color: white;
			padding: 5px 10px;
			outline: none;

			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}
		}

		.toggle-training {
			border: none;
			border-radius: 5px;
			padding: 5px 10px;
			cursor: pointer;
			color: colors.$primary-dark-gray;

			&.start {
				background-color: colors.$primary-green;
			}
			&.stop {
				background-color: colors.$primary-red;
			}
		}

		.strafe-controls {
			display: flex;
			flex-direction: column;
			gap: 5px;

			label {
				text-align: center;
				background-color: colors.$primary-dark-gray;
				color: white;
				border-radius: 5px;
				padding: 5px;
			}
			select {
				text-align: center;
				outline: none;
				border: none;
				border-radius: 5px;
				padding: 3px 10px;
			}
		}
	}
}

app-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
