@use 'colors';

.material-symbols-outlined {
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

* {
	font-family: "Open Sans", "Segoe UI", Tahoma, Arial, sans-serif;
}

body,
html {
	margin: 0;
	height: 100%;
}

body {
	background-color: #423636;
}

hr {
	width: 100%;
	height: 0.5px;
	border: none;
	border-radius: 1000px;
	background-color: colors.$primary-light-gray;
	margin: 0;
}

button {
	cursor: pointer;
}